In [1]:
import numpy as np;
import pandas as pd;

In [2]:
## Parameters and Global variables
district = "ksg"

In [3]:
initDataDF = pd.read_csv("../data/" + district + "_init_data.csv")
r = len(initDataDF.index)

tData = pd.read_csv("../output/" + district + "_tmatrix_results.csv")

In [4]:
tData.head(5)
# TODO fix the unnamed colum

   Unnamed: 0              iName                  jName           Tij
0           0  Ajanur__Kasaragod      Ajanur__Kasaragod  48661.470000
1           1  Ajanur__Kasaragod  Badiyaduka__Kasaragod      1.071977
2           2  Ajanur__Kasaragod       Balal__Kasaragod      0.639348
3           3  Ajanur__Kasaragod     Bedadka__Kasaragod      5.770197
4           4  Ajanur__Kasaragod      Beloor__Kasaragod      0.254734

In [5]:
tMatrix = tData['Tij'].to_numpy().reshape(r-1,r-1)
tMatrix[0]

array([4.86614700e+04, 1.07197713e+00, 6.39348124e-01, 5.77019740e+00,
       2.54733867e-01, 9.05458968e+00, 3.86128843e+00, 3.68608533e+00,
       5.85981446e-01, 5.05592003e-01, 5.16105922e-01, 1.07718005e+00,
       7.43033246e+01, 8.13791243e-01, 4.89566261e+00, 1.83314103e+00,
       2.93304808e+00, 1.09193979e+01, 5.25165449e-01, 1.05186433e+00,
       1.08311980e+00, 1.97484335e+00, 1.25388712e+01, 8.72704786e-01,
       6.31085288e-01, 3.73352484e-01, 1.01086708e+00, 2.98922422e+00,
       1.01620914e+01, 1.15434047e+00, 5.75499686e-01, 1.08667564e+02,
       4.84285936e-01, 1.49319270e+00, 1.84909350e+02, 5.25633533e-01,
       1.11775146e+00, 1.63573058e+01, 4.70285873e-01, 3.71380727e-01])

In [6]:
initDataDF.head(5)

                    name      S  E  I  H  R
0      Ajanur__Kasaragod  49153  0  0  0  0
1  Badiyaduka__Kasaragod  34207  0  0  0  0
2       Balal__Kasaragod  23670  0  0  0  0
3     Bedadka__Kasaragod  27868  0  0  0  0
4      Beloor__Kasaragod  10241  0  0  0  0

In [7]:
def getCij(i, j, tMatrix, initDataDF):
    Ni = initDataDF.iloc[i]['S']
    cwSum = 0
    #print("Ni = ", Ni)
    for k in range(0,r-1):
        Tik = tMatrix[i][k]
        #print("Tik = ", Tik)

        Tjk = tMatrix[j][k]
        #print("Tjk = ", Tjk)

        TlkSum = 0;
        for l in range(0, r-1):
            TlkSum = TlkSum + tMatrix[l][k]
        
        
        #print("TlkSum = ", TlkSum)
        cwSum = cwSum + (Tik/Ni)*(Tjk/TlkSum)
    return cwSum

In [8]:
getCij(0,1, tMatrix, initDataDF)

3.935769418313691e-05

In [9]:
resultsDF = pd.DataFrame(columns=['iName', 'jName', 'Cij'], );
for i in range(0,r-1):
    for j in range(0,r-1):
        Cij = getCij(i,j,tMatrix, initDataDF)
        resultsDF = resultsDF.append({'iName': initDataDF.iloc[i]['name'], 'jName': initDataDF.iloc[j]['name'], 'Cij': Cij},ignore_index=True)

In [10]:
resultsDF.to_csv("../output/" + district + "_cmatrix_results.csv")

In [11]:
resultsDF.head(10)

               iName                   jName       Cij
0  Ajanur__Kasaragod       Ajanur__Kasaragod  0.981142
1  Ajanur__Kasaragod   Badiyaduka__Kasaragod  0.000039
2  Ajanur__Kasaragod        Balal__Kasaragod  0.000031
3  Ajanur__Kasaragod      Bedadka__Kasaragod  0.000173
4  Ajanur__Kasaragod       Beloor__Kasaragod  0.000007
5  Ajanur__Kasaragod    Chemmanad__Kasaragod  0.000331
6  Ajanur__Kasaragod     Chengala__Kasaragod  0.000155
7  Ajanur__Kasaragod  Cheruvathur__Kasaragod  0.000142
8  Ajanur__Kasaragod    Delampadi__Kasaragod  0.000021
9  Ajanur__Kasaragod   East Eleri__Kasaragod  0.000028