In [12]:
import numpy as np;
import pandas as pd;

In [13]:
## Parameters and Global variables

ROOT_DIR = "/Users/sreeramh/Documents/Kerala_Covid/SpatioTemporal/gitsrc/SpatioTemporalSEIR"

In [14]:
initDataDF = pd.read_csv(ROOT_DIR + "/data/tvm_init_data.csv")
r = len(initDataDF.index)

tData = pd.read_csv(ROOT_DIR + "/output/tmatrix_results.csv")

In [15]:
tData.head(5)
# TODO fix the unnamed colum

   Unnamed: 0    iName        jName           Tij
0           0  Amboori      Amboori  15760.800000
1           1  Amboori         Anad      0.056256
2           2  Amboori  Anchuthengu      0.004837
3           3  Amboori  Andoorkonam      0.012198
4           4  Amboori   Aruvikkara      0.127005

In [16]:
tMatrix = tData['Tij'].to_numpy().reshape(r-1,r-1)
tMatrix[0]

array([1.57608000e+04, 5.62561420e-02, 4.83713128e-03, 1.21984106e-02,
       1.27005094e-01, 6.97968498e-01, 6.17829769e+00, 1.28915440e-01,
       1.19214671e-02, 9.30593741e-03, 2.15887447e-01, 8.24165420e-03,
       2.62971034e-01, 4.85837964e-03, 9.13001010e-03, 6.16060809e-03,
       6.09299394e-03, 6.70230211e-03, 1.75797731e-02, 1.09546181e-02,
       7.32072609e+01, 1.19690029e-01, 4.53517128e-02, 8.68635189e-02,
       9.03838773e-03, 1.01920889e-01, 5.28428745e-02, 2.21564893e+00,
       6.15455776e-03, 1.07433847e-02, 5.65809442e-01, 9.03861263e-02,
       8.25794910e-02, 5.81789980e+00, 5.72970478e-03, 4.92133892e-01,
       6.61078613e-03, 1.35384848e-02, 1.68994295e-02, 1.21255004e+00,
       1.29940628e-02, 8.25437541e-03, 1.35608691e-02, 1.07111910e-02,
       1.21488462e-01, 1.05311260e-02, 1.23240299e+00, 3.34834885e+01,
       4.42339842e-03, 2.39420665e-01, 4.22668895e-03, 1.00337168e-02,
       1.25899868e-02, 5.04367952e-01, 8.20376350e-03, 1.29192255e-02,
       9.66068002e-01, 3.70805892e+00, 4.55720346e-02, 1.21728798e-02,
       1.12156230e-02, 9.97442208e-03, 6.74586106e-02, 8.69908354e-01,
       8.56764918e-02, 1.40362302e-01, 4.64926463e-03, 8.16888357e-03,
       9.83951293e-03, 3.55695957e-01, 2.38624996e+01, 1.85635810e-02,
       7.92423493e-02, 4.82911933e-03, 2.95738887e-01, 1.40273977e-01])

In [17]:
initDataDF.head(5)

          name      S  E   I  H  R
0      Amboori  15920  0  20  0  0
1         Anad  31687  0   0  0  0
2  Anchuthengu  17396  0   0  0  0
3  Andoorkonam  30781  0   0  0  0
4   Aruvikkara  33396  0   0  0  0

In [18]:
def getCij(i, j, tMatrix, initDataDF):
    Ni = initDataDF.iloc[i]['S']
    cwSum = 0
    #print("Ni = ", Ni)
    for k in range(0,r-1):
        Tik = tMatrix[i][k]
        #print("Tik = ", Tik)

        Tjk = tMatrix[j][k]
        #print("Tjk = ", Tjk)

        TlkSum = 0;
        for l in range(0, r-1):
            TlkSum = TlkSum + tMatrix[l][k]
        
        
        #print("TlkSum = ", TlkSum)
        cwSum = cwSum + (Tik/Ni)*(Tjk/TlkSum)
    return cwSum

In [19]:
getCij(0,1, tMatrix, initDataDF)

5.234899561728604e-06

In [20]:
resultsDF = pd.DataFrame(columns=['iName', 'jName', 'Cij'], );
for i in range(0,r-1):
    for j in range(0,r-1):
        Cij = getCij(i,j,tMatrix, initDataDF)
        resultsDF = resultsDF.append({'iName': initDataDF.iloc[i]['name'], 'jName': initDataDF.iloc[j]['name'], 'Cij': Cij},ignore_index=True)

In [21]:
resultsDF.to_csv(ROOT_DIR + "/output/cmatrix_results.csv")

In [22]:
resultsDF.head(10)

     iName        jName           Cij
0  Amboori      Amboori  9.806858e-01
1  Amboori         Anad  5.234900e-06
2  Amboori  Anchuthengu  6.438738e-07
3  Amboori  Andoorkonam  1.806746e-06
4  Amboori   Aruvikkara  1.064362e-05
5  Amboori      Aryanad  8.390307e-05
6  Amboori    Aryancodu  5.063011e-04
7  Amboori  Athiyannoor  1.009281e-05
8  Amboori  Attingal(M)  2.374065e-06
9  Amboori       Azhoor  1.425011e-06