In [1]:
import numpy as np;
import pandas as pd;

## Initialize Parameters

In [2]:
## Parameters and Global variables
district = "tvm"

## Load and Initialize Data

In [3]:
## Population data
initDataDF = pd.read_csv("../data/" + district + "_init_data.csv")

## Number of regions
r = len(initDataDF.index)

## T-Matrix
tData = pd.read_csv("../output/" + district + "_tmatrix_results.csv")

## Sort distance data by name for easy matrix transformation
initDataDF.sort_values(by=['name'], inplace=True)

In [4]:
tData.head(5)
# TODO fix the unnamed colum

   Unnamed: 0    iName        jName           Tij
0           0  Amboori      Amboori  15760.800000
1           1  Amboori         Anad      0.056256
2           2  Amboori  Anchuthengu      0.004837
3           3  Amboori  Andoorkonam      0.012198
4           4  Amboori   Aruvikkara      0.127005

## Prepare T-Matrix

In [5]:

tMatrix = tData['Tij'].to_numpy().reshape(r-1,r-1)

## Function Definition

In [6]:
def getCij(i, j, tMatrix, initDataDF):
    Ni = initDataDF.iloc[i]['S']
    cwSum = 0
    for k in range(0,r-1):
        Tik = tMatrix[i][k]
        Tjk = tMatrix[j][k]
        TlkSum = 0;

        for l in range(0, r-1):
            TlkSum = TlkSum + tMatrix[l][k]
        
        cwSum = cwSum + (Tik/Ni)*(Tjk/TlkSum)

    return cwSum

In [7]:
getCij(0,1, tMatrix, initDataDF)

5.234899561728604e-06

## Compute C-Matrix

In [8]:
resultsDF = pd.DataFrame(columns=['iName', 'jName', 'Cij'], );
for i in range(0,r-1):
    for j in range(0,r-1):
        Cij = getCij(i,j,tMatrix, initDataDF)
        resultsDF = resultsDF.append({'iName': initDataDF.iloc[i]['name'], 'jName': initDataDF.iloc[j]['name'], 'Cij': Cij},ignore_index=True)

## Save Output

In [9]:
resultsDF.to_csv("../output/" + district + "_cmatrix_results.csv")

In [10]:
resultsDF.head(10)

     iName        jName           Cij
0  Amboori      Amboori  9.806858e-01
1  Amboori         Anad  5.234900e-06
2  Amboori  Anchuthengu  6.438738e-07
3  Amboori  Andoorkonam  1.806746e-06
4  Amboori   Aruvikkara  1.064362e-05
5  Amboori      Aryanad  8.390307e-05
6  Amboori    Aryancodu  5.063011e-04
7  Amboori  Athiyannoor  1.009281e-05
8  Amboori  Attingal(M)  2.374065e-06
9  Amboori       Azhoor  1.425011e-06