In [2]:
import numpy as np;
import pandas as pd;

## Initialize Parameters

In [3]:
## parameters and global variables

district = "all"

## Load and Initialize Data

In [12]:

## Load distance data
distanceData = pd.read_csv("../data/" + district + "_distance_matrix.csv")


distanceData = distanceData.drop(distanceData[distanceData['fromName']=='Naranammoozhi__Pathanamthitta'].index,axis=0)
distanceData = distanceData.drop(distanceData[distanceData['toName']=='Naranammoozhi__Pathanamthitta'].index,axis=0)
distanceData

,Unnamed: 0,fromName,toName,value
0,0,Karumkulam__Thiruvananthapuram,Karumkulam__Thiruvananthapuram,0
1,1,Karumkulam__Thiruvananthapuram,Kanjiramkulam__Thiruvananthapuram,2415
2,2,Karumkulam__Thiruvananthapuram,Athiyannoor__Thiruvananthapuram,6056
3,3,Karumkulam__Thiruvananthapuram,Venganoor__Thiruvananthapuram,9291
4,4,Karumkulam__Thiruvananthapuram,Madavoor__Thiruvananthapuram,58664
...,...,...,...,...
1072254,1073290,Punnapra North__Alappuzha,Purappuzha__Idukki,56559
1072255,1073291,Punnapra North__Alappuzha,Thodupuzha(M)__Idukki,63681
1072256,1073292,Punnapra North__Alappuzha,Kuttichal__Thiruvananthapuram,132795
1072257,1073293,Punnapra North__Alappuzha,Akathethara__Palakkad,155690
1072259,1073295,Punnapra North__Alappuzha,Punnapra North__Alappuzha,0

## Save output

In [14]:
distanceData.to_csv("../data/" + district + "_distance_matrix.csv")