In [1]:
import numpy as np;
import pandas as pd;

In [54]:
ROOT_DIR = "/Users/sreeramh/Documents/Kerala_Covid/SpatioTemporal/gitsrc/SpatioTemporalSEIR"
mu = 0.01

```
                P1
               /. \
     ----------    -------
     |                   |
     10                 10
     |                   |
     P1.1 ---- 10 ----- P1.2           
     / \                / \
    10  10            10  10 
   /      \          /      \
  P1.1.1  P1.1.2  P1.2.1.  P1.2.2 
```

In [98]:
initDataDF = pd.read_csv(ROOT_DIR + "/data/sample_init_data.csv")

distanceData = pd.read_csv(ROOT_DIR + "/data/sample_distance_matrix.csv")

r = len(initDataDF.index)
initDataDF

     name      S  E  I  H  R
0      P1  30000  0  1  0  0
1    P1.1  15000  0  0  0  0
2    P1.2  15000  0  0  0  0
3  P1.1.1   7500  0  0  0  0
4  P1.1.2   7500  0  0  0  0
5  P1.2.1   7500  0  0  0  0
6  P1.2.2   7500  0  0  0  0

In [91]:
distanceMatrix = distanceData['value'].to_numpy().reshape(r,r)
distanceMatrix

array([[ 0, 10, 10, 20, 20, 20, 20],
       [10,  0, 10, 10, 10, 20, 20],
       [10, 10,  0, 20, 20, 10, 10],
       [20, 10, 20,  0, 20, 30, 30],
       [20, 10, 20, 20,  0, 30, 30],
       [20, 20, 10, 30, 30,  0, 20],
       [20, 20, 10, 30, 30, 20,  0]])

In [110]:
def getSij(i, j, distanceMatrix, initDataDF):
    return(initDataDF[distanceMatrix[i] <= distanceMatrix[i][j]]['S'].sum() - initDataDF.iloc[i]['S'] - initDataDF.iloc[j]['S'])

In [112]:
getSij(1,3,distanceMatrix, initDataDF)

52500

In [113]:
def getTij(i,j, distanceMatrix, initDataDF):
    Ni = initDataDF.iloc[i]['S']
    Ti = mu*Ni
    if(i==j):
        return Ni - Ti;
    
    Nj = initDataDF.iloc[j]['S']
    Sij = getSij(i,j,distanceMatrix, initDataDF)
    Tij = Ti * ((Ni * Nj) /((Ni + Sij)*(Ni + Nj + Sij)))
    return Tij

In [114]:
resultsDF = pd.DataFrame(columns=['iName', 'jName', 'Tij'], );
for i in range(0,r-1):
    for j in range(0,r-1):
        Tij = getTij(i,j,distanceMatrix, initDataDF)
        resultsDF = resultsDF.append({'iName': initDataDF.iloc[i]['name'], 'jName': initDataDF.iloc[j]['name'], 'Tij': Tij},ignore_index=True)

In [90]:
resultsDF.to_csv(ROOT_DIR + "/output/tmatrix_results.csv")

In [115]:
resultsDF

     iName   jName           Tij
0       P1      P1  29700.000000
1       P1    P1.1     50.000000
2       P1    P1.2     50.000000
3       P1  P1.1.1      9.090909
4       P1  P1.1.2      9.090909
5       P1  P1.2.1      9.090909
6     P1.1      P1     20.000000
7     P1.1    P1.1  14850.000000
8     P1.1    P1.2      7.500000
9     P1.1  P1.1.1      3.333333
10    P1.1  P1.1.2      3.333333
11    P1.1  P1.2.1      2.272727
12    P1.2      P1     20.000000
13    P1.2    P1.1      7.500000
14    P1.2    P1.2  14850.000000
15    P1.2  P1.1.1      2.272727
16    P1.2  P1.1.2      2.272727
17    P1.2  P1.2.1      3.333333
18  P1.1.1      P1      5.000000
19  P1.1.1    P1.1     50.000000
20  P1.1.1    P1.2      1.875000
21  P1.1.1  P1.1.1   7425.000000
22  P1.1.1  P1.1.2      0.833333
23  P1.1.1  P1.2.1      0.568182
24  P1.1.2      P1      5.000000
25  P1.1.2    P1.1     50.000000
26  P1.1.2    P1.2      1.875000
27  P1.1.2  P1.1.1      0.833333
28  P1.1.2  P1.1.2   7425.000000
29  P1.1.2  P1.2.1      0.568182
30  P1.2.1      P1      5.000000
31  P1.2.1    P1.1      1.875000
32  P1.2.1    P1.2     50.000000
33  P1.2.1  P1.1.1      0.568182
34  P1.2.1  P1.1.2      0.568182
35  P1.2.1  P1.2.1   7425.000000