In [14]:
import numpy as np;
import pandas as pd;

In [15]:
ROOT_DIR = "/Users/sreeramh/Documents/Kerala_Covid/SpatioTemporal/gitsrc/SpatioTemporalSEIR"
mu = 0.01

```
                P1
               /. \
     ----------    -------
     |                   |
     10                 10
     |                   |
     P1.1 ---- 10 ----- P1.2           
     / \                / \
    10  10            10  10 
   /      \          /      \
  P1.1.1  P1.1.2  P1.2.1.  P1.2.2 
```

In [16]:
initDataDF = pd.read_csv(ROOT_DIR + "/data/tvm_init_data.csv")

distanceData = pd.read_csv(ROOT_DIR + "/data/tvm_distance_matrix.csv")

r = len(initDataDF.index)
initDataDF

           name      S  E   I  H  R
0       Amboori  15920  0  20  0  0
1          Anad  31687  0   0  0  0
2   Anchuthengu  17396  0   0  0  0
3   Andoorkonam  30781  0   0  0  0
4    Aruvikkara  33396  0   0  0  0
..          ...    ... ..  .. .. ..
72    Venganoor  35963  0   0  0  0
73      Vettoor  18704  0   0  0  0
74     Vilappil  36212  0   0  0  0
75  Vilavoorkal  31761  0   0  0  0
76      Vithura  26249  0   0  0  0

[77 rows x 6 columns]

In [19]:
distanceMatrix = distanceData['value'].to_numpy().reshape(r,r)

distanceMatrix[0][4]

19952

In [20]:
def getSij(i, j, distanceMatrix, initDataDF):
    return(initDataDF[distanceMatrix[i] <= distanceMatrix[i][j]]['S'].sum() - initDataDF.iloc[i]['S'] - initDataDF.iloc[j]['S'])

In [21]:
getSij(1,3,distanceMatrix, initDataDF)

1631828

In [22]:
def getTij(i,j, distanceMatrix, initDataDF):
    Ni = initDataDF.iloc[i]['S']
    Ti = mu*Ni
    if(i==j):
        return Ni - Ti;
    
    Nj = initDataDF.iloc[j]['S']
    Sij = getSij(i,j,distanceMatrix, initDataDF)
    Tij = Ti * ((Ni * Nj) /((Ni + Sij)*(Ni + Nj + Sij)))
    return Tij

In [23]:
resultsDF = pd.DataFrame(columns=['iName', 'jName', 'Tij'], );
for i in range(0,r-1):
    for j in range(0,r-1):
        Tij = getTij(i,j,distanceMatrix, initDataDF)
        resultsDF = resultsDF.append({'iName': initDataDF.iloc[i]['name'], 'jName': initDataDF.iloc[j]['name'], 'Tij': Tij},ignore_index=True)

In [24]:
resultsDF.to_csv(ROOT_DIR + "/output/tmatrix_results.csv")

In [25]:
resultsDF.head(10)

     iName        jName           Tij
0  Amboori      Amboori  15760.800000
1  Amboori         Anad      0.056256
2  Amboori  Anchuthengu      0.004837
3  Amboori  Andoorkonam      0.012198
4  Amboori   Aruvikkara      0.127005
5  Amboori      Aryanad      0.697968
6  Amboori    Aryancodu      6.178298
7  Amboori  Athiyannoor      0.128915
8  Amboori  Attingal(M)      0.011921
9  Amboori       Azhoor      0.009306